<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

#### This project seeks to identify relationship between GPA and SATs and seek to support colleges move towards test-optional policy temporarily

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background: 

The SAT and ACT are standardized tests that may serve as entry examinations into many universities in the United States. These test requirement may vary across different states in US, and they are used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

Due to the Covid impact, many students could not take the test due mass cancellations and postponement. On March 16, College board announced the cancellation for the SAT amid COVID. ([*source*]( https://edition.cnn.com/2020/03/16/us/sat-exam-coronavirus-trnd/index.html)). This has caused many unsettling concerns which may affect students further education.

## Contents:

* [`SATOptOut`](data\SATOptOut.csv) : Colleges in California Opt out from SAT test

* [`satgpa`](\data\satgpa.csv) : SAT and GPA results, sampled 1000 students from unamed colleges

* [`SAT_Scores_Ca_2021`](../Data/SAT_Scores_Ca_2021.csv): 2021 SAT mean scores for Math and ERW, and number of test takers for California

* [`SAT_Scores_Ca_2020`](../Data/SAT_Scores_Ca_2020.csv): 2021 SAT mean scores for Math and ERW, and number of test takers for California

* [`SAT_Scores_Ca_2019`](../Data/SAT_Scores_Ca_2019.csv): 2021 SAT mean scores for Math and ERW, and number of test takers for California

* [`Income_CA`](../Data/income_ca_sats.csv): 2021 SAT mean scores for Math and ERW, and number of test takers for California

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

At the end of the day, the College Board is a business, and businesses need to generate profit. Recently, the College Board has been generating significantly less revenue given that fewer students are taking the SAT compared to years past because of the shift to test-optional college admissions. 

https://www.forbes.com/sites/kristenmoon/2022/01/28/three-reasons-why-you-should-pay-attention-to-the-sat-redesign/?sh=2c9a28e67971

wealthy kids might do sat more than the lower income kids 

participation rates might decrease 

https://www.bloomberg.com/news/articles/2022-01-24/wealthy-teens-tout-test-results-colleges-no-longer-require

Participation rate, defined as the percentage of a state's high school seniors taking the SAT represented by the z-score mean of a truncated normal distribution, was the most important single predictor of state mean SAT score, accounting for 77% of the total variance in mean scores.

The inclusion of significant educational and demographic variables raised the proportion of variance explained to 94%. The fallacy of comparing the mean standardized test scores of different locations or time periods without taking participation rate into account is discussed.


Howard Wainer, Samuel Palmer, Eric T. Bradlow. (1998) A Selection of Selection Anomalies. CHANCE 11:2, pages 3-7.

Participation Rates Skew State Averages on SAT & ACT

https://medium.com/@james.dargan/participation-skews-state-averages-f68969371a01

https://yhpf.medium.com/participation-rate-act-and-sat-short-version-4c09f4e20bdd

showing negative correlation with results vs participation rate

https://www.benjamindornel.com/sat-act.html
    
    
which state should the College Board target to further raise SAT participation rates? 
also has function to change column

https://shorelight.com/student-stories/the-us-higher-education-system-explained/
    
standard education system in US

https://www.openintro.org/data/index.php?data=satgpa
    
    
Data on sat vs gpa
Format
A data frame with 1000 observations on the following 6 variables.

sex
Gender of the student.

sat_v
Verbal SAT percentile.

sat_m
Math SAT percentile.

sat_sum
Total of verbal and math SAT percentiles.

hs_gpa
High school grade point average.

fy_gpa
First year (college) grade point average.

https://reports.collegeboard.org/sat-suite-program-results
    
SAT SCores for California

https://magoosh.com/hs/sat/states-that-require-the-act-or-sat/

In the larger picture, academicians and sociologists have argued for years that the tests themselves are both culturally biased and form a barrier to entry for many students, particularly low-income and first-generation students who can’t afford the test-prep courses that have come to form a lucrative subindustry within the college admissions game.

###### College and Career Readiness Benchmarks


· The SAT Math benchmark is the section score associated
with a 75% chance of earning at least a C in first-semester,
credit-bearing, college-level courses in algebra, statistics,
precalculus, or calculus.

· The SAT Evidence-Based Reading and Writing (ERW)
benchmark is associated with a 75% chance of earning at
least a C in first-semester, credit-bearing, college-level
courses in history, literature, social science, or writing.

While SAT benchmarks
indicate likelihood of success in college, grade-level
benchmarks indicate whether a student is on track for college
and career readiness for their grade. The benchmarks are set
to reflect typical annual growth from year to year from 8th
through 12th grades.


Met Benchmark - metric benchmark

https://blog.prepscholar.com/test-optional-colleges-list
    
##### test optional definition

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [1]:
# creating list 

sample = [_ for _ in range(5)]
print(sample)  

# definining mean function 

def getmean(sample):
    number = 0 
    for num in sample:
        number = num + number
        
    return int(number/len(sample))

getmean(sample)

[0, 1, 2, 3, 4]

2

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [2]:
# definining stdev function 

def getstdev(sample):
    number = 0
    for num in sample:
        number = number + ((num-getmean(sample))**2)
    return ((number)/len(sample))**0.5


round(getstdev(sample),3)

1.414

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [3]:
def remove_percent(string):
    return float(string.replace('%',''))/100

In [4]:
def convert_percent_commas(df):
    for col in df.columns:
        if '% of score senders' in col.lower():
            df[col] = df[col].replace('%','', regex=True).astype('float')
        elif 'number of students' in col.lower():
            df[col] = df[col].replace(',','', regex=True).astype('float')

participation - how many of the state do the SAT during high school

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

# 2017/18/19/20/21 SATS Data import and cleaning

In [6]:
# Data importing 
act_2017 = pd.read_csv('Data/act_2017.csv')
act_2018 = pd.read_csv('Data/act_2018.csv')
sat_2017 = pd.read_csv('Data/sat_2017.csv')
sat_2018 = pd.read_csv('Data/sat_2018.csv')

In [7]:
# checking Sat_Opt_Out
print('act_2017')
act_2017.info()
print('\n')

print('act_2018')
act_2018.info()
print('\n')

print('sat_2017')
sat_2017.info()
print('\n')

print('sat_2018')
sat_2018.info()
print('\n')

act_2017
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB


act_2018
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB


sat_2017
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB


sat_2018
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [8]:
# convert percentage to float
filelist = [sat_2018,act_2018,sat_2017,act_2017]

for file in filelist:
    file['Participation'] = file['Participation'].apply(lambda x: remove_percent(x))

In [9]:
sat_2018.head()

        State  Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama           0.06                                 595   571   1166
1      Alaska           0.43                                 562   544   1106
2     Arizona           0.29                                 577   572   1149
3    Arkansas           0.05                                 592   576   1169
4  California           0.60                                 540   536   1076

In [10]:
sat_2017.head()

        State  Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama           0.05                                 593   572   1165
1      Alaska           0.38                                 547   533   1080
2     Arizona           0.30                                 563   553   1116
3    Arkansas           0.03                                 614   594   1208
4  California           0.53                                 531   524   1055

In [11]:
# to identify different column names based on 'college'

diff_df = pd.merge(sat_2018, sat_2017, how='outer', indicator='Exist', on = 'State')

diff_df = diff_df.loc[diff_df['Exist'] != 'both']

diff_df

Empty DataFrame
Columns: [State, Participation_x, Evidence-Based Reading and Writing_x, Math_x, Total_x, Participation_y, Evidence-Based Reading and Writing_y, Math_y, Total_y, Exist]
Index: []

In [12]:
# replace top columns and sync all 
set_column = ['state','participation','erwb','math','total']
filelist = [sat_2018,sat_2017]

for file in filelist:
    file.columns = set_column

In [13]:
sat_2017.head()

        state  participation  erwb  math  total
0     Alabama           0.05   593   572   1165
1      Alaska           0.38   547   533   1080
2     Arizona           0.30   563   553   1116
3    Arkansas           0.03   614   594   1208
4  California           0.53   531   524   1055

In [14]:
# create column for year

sat_2017['year'] = str('2017')
sat_2018['year'] = str('2018')

In [15]:
sat_2017.head()

        state  participation  erwb  math  total  year
0     Alabama           0.05   593   572   1165  2017
1      Alaska           0.38   547   533   1080  2017
2     Arizona           0.30   563   553   1116  2017
3    Arkansas           0.03   614   594   1208  2017
4  California           0.53   531   524   1055  2017

In [16]:
sat_combine = pd.concat([sat_2018,sat_2017])
sat_combine.head()

        state  participation  erwb  math  total  year
0     Alabama           0.06   595   571   1166  2018
1      Alaska           0.43   562   544   1106  2018
2     Arizona           0.29   577   572   1149  2018
3    Arkansas           0.05   592   576   1169  2018
4  California           0.60   540   536   1076  2018

# combining Act data

In [17]:
act_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     float64
 2   Composite      52 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

In [18]:
## noticed there was an object in Composite  

act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     float64
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(5), object(2)
memory usage: 3.0+ KB

In [19]:
def remove_letters_return_num(string):
    return float(''.join([x for x in string if (x =='.') or (x.isdigit())]))

act_2017['Composite'] = act_2017['Composite'].apply(lambda x: remove_letters_return_num(x))

act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     float64
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     float64
dtypes: float64(6), object(1)
memory usage: 3.0+ KB

In [27]:
act_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     float64
 2   Composite      52 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

In [29]:
# to identify different column names based on 'college'

diff_df = pd.merge(act_2018, act_2017, how='outer', indicator='Exist', on = 'State')

diff_df = diff_df.loc[diff_df['Exist'] != 'both']

diff_df

,State,Participation_x,Composite_x,Participation_y,English,Math,Reading,Science,Composite_y,Exist
8,District of columbia,0.32,23.6,NaN,NaN,NaN,NaN,NaN,NaN,left_only
52,National,NaN,NaN,0.60,20.3,20.7,21.4,21.0,21.0,right_only
53,District of Columbia,NaN,NaN,0.32,24.4,23.5,24.9,23.5,24.2,right_only

In [ ]:
# get index from act_2018 data 

set_index = act_2018[sat_major_2019['State'] == 'District of columbia'].index
set_index2 = act_2018[sat_major_2019['State'] == 'District of Columbia'].index

# drop from sat_major_2019

act_2018.drop(set_index, inplace = True)
sat_major_2019.drop(set_index2, inplace = True)

In [22]:
# to identify different column names based on 'college'

diff_df = pd.merge(sat_major_2021, sat_major_2020, how='outer', indicator='Exist', on = 'college')

diff_df = diff_df.loc[diff_df['Exist'] != 'both']

diff_df

NameError: name 'sat_major_2021' is not defined

In [ ]:
#replace with CAPS
sat_major_2021.loc[25,'college'] = diff_df.loc[36,'college']

In [ ]:
#check edited 

sat_major_2021[sat_major_2021['college'] == "Personal And Culinary Services, General"]

In [ ]:
#found two rows not used for data in 2021,2020

diff_df = pd.merge(sat_major_2021, sat_major_2019, how='outer', indicator='Exist', on = 'college')

diff_df = diff_df.loc[diff_df['Exist'] != 'both']

diff_df

In [ ]:
# get index from 2019 data 

set_index = sat_major_2019[sat_major_2019['college'] == 'Precision Production'].index
set_index2 = sat_major_2019[sat_major_2019['college'] == 'Transportation and Materials Moving'].index

# drop from sat_major_2019

sat_major_2019.drop(set_index, inplace = True)
sat_major_2019.drop(set_index2, inplace = True)

In [ ]:
# reset and remove old index

sat_major_2019.reset_index(inplace = True)
sat_major_2019.drop('index',axis = 1).head()

In [ ]:
sat_major_2019.info()

In [ ]:
#initiate year on each data set 

sat_major_2019['Year'] = 2019
sat_major_2020['Year'] = 2020
sat_major_2021['Year'] = 2021

In [ ]:
sat_major_2021.head(1)

In [ ]:
SAT_MAJOR = pd.concat([sat_major_2019,sat_major_2020,sat_major_2021])
SAT_MAJOR

In [ ]:
SAT_MAJOR.drop('index', axis = 1, inplace = True)

In [ ]:
# Add Column (Total) between ERW and Math 

SAT_MAJOR['Total'] = SAT_MAJOR['ERW'] + SAT_MAJOR['Math']

In [ ]:
sns.boxplot(x = 'Year', y = 'test_taker', data = SAT_MAJOR)

In [ ]:
# Family income object 

income_ca.info()

In [ ]:
# inspect income_ca 

income_ca.head()

In [ ]:
# to help remove punctuations 

def remove_punc_convertnum(alist):
    return ''.join([i for i in alist if i not in ['$',',']])

In [ ]:
income_ca['income_range'] = income_ca['Family Income'].apply(lambda x: remove_punc_convertnum(x) )

In [ ]:
income_ca['income_range']

In [ ]:
# defining function that collects the mean between values in a string

def getmean(sample):
    number = 0 
    for num in sample:
        number = num + number
        
    return int(number/len(sample))

def get_number_from_string(string):
    count = 0
    splitlist = string.split()
    emptylist = []
    for num, word in enumerate (splitlist):
        if word.isdigit():
            count += 1
            emptylist.append(int(word))
            
    if count == 0:
        return 0
    else:
        return getmean(emptylist)

income_ca['income_range'] = income_ca['income_range'].apply(lambda x: get_number_from_string(x))

In [ ]:
income_ca.head()

In [ ]:
income_ca['total'] = income_ca['Math Mean']  + income_ca['Writing Mean']

In [ ]:
income_ca.head()

In [ ]:
sns.lmplot(x = 'total', y = 'income_range', data=income_ca);

# Analyzing SAT Vs GPA

In [ ]:
satgpa= pd.read_csv('Data/satgpa.csv')

In [ ]:
satgpa.head()

In [ ]:
satgpa.describe()

In [ ]:
satgpa.corr()

In [ ]:
# Create mask to prevent duplication of variables
mask = np.zeros(satgpa.corr().shape, dtype=bool)
mask[np.triu_indices(len(mask))] = True

In [ ]:
plt.figure(figsize=(16,12))
plt.title('Heatmap between GPA vs SATS', fontsize=14)
sns.heatmap(satgpa.corr(), cmap='RdBu', annot=True, mask=mask)

## comments

In [ ]:
satgpa.info()

In [ ]:
sns.lmplot(x="hs_gpa", y="fy_gpa", data=satgpa, hue='sex');

In [ ]:
sns.lmplot(x="sat_sum", y="fy_gpa", data=satgpa, hue='sex');

In [ ]:
sns.jointplot(x="hs_gpa", y="fy_gpa", data=satgpa, kind="reg")

In [ ]:
satgpa['sat_sum']

In [ ]:
sns.histplot(data=satgpa, x="sat_sum", hue="sex", multiple="stack")

In [ ]:
sns.displot(data=satgpa, x="sat_sum", col="sex")

In [ ]:
sns.pairplot(satgpa)

In [ ]:
g = sns.PairGrid(satgpa)
g.map_upper(sns.histplot)
g.map_lower(sns.kdeplot, fill=True)
g.map_diag(sns.histplot, kde=True)

In [ ]:
# SATs_Combined3['Institution'].values

Master_list[Master_list['Institution']] == 'California State University Mentor'

In [ ]:
Master_list = pd.concat([Sat_2017,Sat_2018,Sat_2019,Sat_2020,Sat_2021])
Master_list.groupby('Year').sum()

In [ ]:
sns.scatterplot()

In [ ]:
# Describes students from California applying for colleges 

sns.boxplot(x = 'Year', y = 'Number of Students' , data = Master_list)

In [ ]:
# SAT% drop in enrollment 

mean_2020, pct_score, year = Master_list[Master_list['Year'] == 2020].mean()
mean_2021, pct_score, year = Master_list[Master_list['Year'] == 2021].mean()


percent_drop = round(((mean_2021-mean_2020)/mean_2020)*100,ndigits = 4)

percent_drop

In [ ]:
sns.pairplot(SATs_Combined3)

In [ ]:
pwd

In [ ]:
#initiate year on each data set 
sat_major_2017['Year'] = 2017
sat_major_2018['Year'] = 2018
sat_major_2019['Year'] = 2019
sat_major_2020['Year'] = 2020
sat_major_2021['Year'] = 2021

In [ ]:
sat_major_2021.head()

In [ ]:
SAT_MAJOR = pd.concat([sat_major_2017,sat_major_2018,sat_major_2019,sat_major_2020,sat_major_2021])
SAT_MAJOR

In [ ]:
SAT_MAJOR.drop(SAT_MAJOR.columns(), inplace = True)

In [ ]:
SAT_MAJOR.groupby('Year').sum()['Test Takers']

In [ ]:
SAT_MAJOR.groupby('Year').mean()['Test Takers']

In [ ]:
sns.boxplot(x = 'Year', y = 'Test Takers' , data = SAT_MAJOR)

In [ ]:
SAT_MAJOR.describe()

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#Code:

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!