Dataframe[] -->> can put three things in the brackets
1) input type, 'string'

- can put in one string 
- list of strings 
- list or numpy array of true false values in the dataframe must be the same 

2) outputs type --> series -->> keys = Index, values will get numpy array 
3) number of columns 
4) number of rows

In [17]:
import pandas as pd
import numpy as np

In [3]:
# Let's read in the diamonds data set.
diamonds = pd.read_csv("datasets/diamonds.csv")
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [158]:
diamonds[((diamonds['color'] == 'J') | (diamonds['cut'] =='Ideal')) & (diamonds['carat'] < 0.3)]

,carat,cut,color,clarity,depth,table,price,x,y,z,dimension
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.202030
5,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,38.693952
11,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46,37.704420
51,0.23,Ideal,G,VS1,61.9,54.0,404,3.93,3.95,2.44,37.877340
65,0.28,Ideal,G,VVS2,61.4,56.0,553,4.19,4.22,2.58,45.619044
...,...,...,...,...,...,...,...,...,...,...,...
52965,0.24,Ideal,F,VVS2,60.7,56.0,552,3.98,4.03,2.43,38.975742
52966,0.24,Ideal,F,VVS2,61.1,57.0,552,4.03,4.06,2.47,40.413646
52967,0.24,Ideal,F,VVS2,62.6,57.0,552,3.93,3.96,2.47,38.440116
52968,0.24,Ideal,F,VVS2,61.8,56.0,552,3.97,4.02,2.47,39.419718
52969,0.24,Ideal,F,VVS2,61.6,54.0,552,4.00,4.09,2.49,40.736400

In [5]:
diamonds['dimension'] = diamonds['x'] * diamonds['y'] * diamonds['z']

In [128]:
diamonds.groupby(['cut'])['dimension'].agg(['mean','median','count'])

                 mean      median  count
cut
Fair       164.950549  151.016352   1610
Good       136.257267  131.787258   4906
Ideal      115.394912   89.131752  21551
Premium    145.052128  138.047616  13791
Very Good  130.999722  117.167040  12082

In [8]:
# Please reason about the following code.
# What will this return you if x is a...
# - x = 5
# - x = '5'
# - x = [5, 5, 5]
# - x = np.array([5, 5, 5])
# - x = pd.Series with the values [5, 5, 5]
# - x = np.array(['5', '5', '5'])

In [147]:
x = 5

# returns as integer
# return boolen
x < 5

False

In [148]:
x * 1.3

6.5

In [149]:
x * 3

15

In [150]:
# returns as str
x = '5'

# returns type error (str vs float)
x < 0.5

TypeError: '<' not supported between instances of 'str' and 'float'

In [151]:
x * 1.3

TypeError: can't multiply sequence by non-int of type 'float'

In [152]:
# multiply str chars by 3 times 

x * 3

'555'

In [153]:
x = [5, 5, 5]

# returns as list 

type(x)

list

In [154]:
x < 0.5

TypeError: '<' not supported between instances of 'list' and 'float'

In [155]:
x * 0.5

TypeError: can't multiply sequence by non-int of type 'float'

In [156]:
x * 3

[5, 5, 5, 5, 5, 5, 5, 5, 5]

In [76]:
x = np.array([5, 5, 5])
# returns as numpy array
type(x)

numpy.ndarray

In [77]:
# returns a boolean
x < 0.5

array([False, False, False])

In [78]:
x * 1.3

array([6.5, 6.5, 6.5])

In [79]:
x * 3

array([15, 15, 15])

In [139]:
x =  pd.Series([5, 5, 5])

In [140]:
x<0.5

0    False
1    False
2    False
dtype: bool

In [141]:
x * 1.3

0    6.5
1    6.5
2    6.5
dtype: float64

In [142]:
x * 3

0    15
1    15
2    15
dtype: int64

In [143]:
x = np.array(['5', '5', '5'])

In [144]:
# TypeError numpy array of strings not supported with float
x < 0.5

TypeError: '<' not supported between instances of 'numpy.ndarray' and 'float'

In [145]:
# TypeError numpy array not supported with float
x *  1.3

UFuncTypeError: ufunc 'multiply' did not contain a loop with signature matching types (dtype('<U32'), dtype('<U32')) -> dtype('<U32')

In [146]:
x * 3

UFuncTypeError: ufunc 'multiply' did not contain a loop with signature matching types (dtype('<U3'), dtype('<U3')) -> dtype('<U3')